* 
{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
.bg{
    width: 100%;
    height: 400px;
    background-image:url(../Imagens/landscape.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    background-size: cover;
}
