h2 
{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
/*esse foi selecionado com uma (id= "teste") (((não utiliza isso em CSS é utilizada em JavaScript mas pode ser utilizada normalmente)))*/
h2#teste {
    font-size: 44px;
    font-style: italic;
    font-weight: bold;
    color: yellow;
}
/*esse foi selecionado com uma (class= "teste") */
 h2.teste {
    font-size: 55px;
    font-style: oblique;
    color: red;
}
p.uiui {
    color: green;
    font-size: 39px;
    font-style: oblique;
}
[type=text]{
    width: 520px;
}
[type=button]{
    background-color: blue;
    color: aliceblue;
}
div {
    background-color: rgba(255, 0, 149, 0.363);
}
h2 {
    color: black;
}